:root{
    --border: 1px solid black;
    --box-shadow: 0 0 30px gray;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main {
    max-width: 850px;
    font-size: large;
}

main p {
    padding: 0px;
}

main img{
    width: 150px;
    height: auto;
    float: right;
    border: var(--border);
    padding: 1px;
    box-shadow: var(--box-shadow);
}



main a {
    text-decoration: none;
    color: white;
}

p {
    padding: 0px;
}

nav {
    background-color: #08007c;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    display: block;
    padding: 0.5px;
    text-decoration: none;
    color: white;
}

h1 {
    color: #08007c;
    border-bottom: var(--border);
    font-size: larger;
}

aside {
    width: 20em;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    border: var(--border);
    box-shadow: var(--box-shadow);
}

aside h2 {
    position: relative;
    bottom: -20px;
    font-size: small;
    color: white;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}


/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    background-color: #08007c;
    color: white;
    border: var(--border);
}

.grid {
    display: grid;
    align-items: center;
    }

    main {
        grid-column: 2/3;
        margin: 1rem;
    }

    aside {
        width: 20rem;
        position: relative;
        grid-column: 1/2;
        grid-row: 1/2;
    }